In [1]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/lyowfyloepbidjftxgp3uvpmf6t5c5')
df.to_excel("week2.xlsx")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26829 entries, 0 to 26828
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country Code        26829 non-null  object
 1   Country Name        26829 non-null  object
 2   Gender              26829 non-null  object
 3   Date                26829 non-null  object
 4   Unemployement Rate  26829 non-null  float64
dtypes: float64(1), object(4)
memory usage: 1.0+ MB

In [3]:
df['Country Name'].unique()

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Colombia',
       'Costa Rica', 'Czechia', 'Germany', 'Denmark', 'Spain', 'Estonia',
       'Finland', 'France', 'United Kingdom', 'Greece', 'Hungary',
       'Ireland', 'Iceland', 'Israel', 'Italy', 'Japan', 'Korea',
       'Lithuania', 'Luxembourg', 'Latvia', 'Mexico', 'Netherlands',
       'Norway', 'Poland', 'Portugal', 'Slovakia', 'Slovenia', 'Sweden',
       'Turkey', 'United States of America'], dtype=object)

In [4]:
# According to source we have to drop :
# Colombia Costa Rica Iceland Israel Turkey

In [5]:
cleanDf = df.loc[~df['Country Name'].isin(['Colombia','Costa Rica','Iceland','Israel','Turkey'])]

In [7]:
cleanDf.to_excel("week2.xlsx",index=False)