In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://query.data.world/s/ilk6fth2ppkbvedlsivc2rrvzqiboy")
# df.to_excel("week4.xlsx",index=False)

In [4]:
df.head(5)

,Order ID,Order Date,Region,Segment,Category,Sub-Category,Product Name,Ship Date,Ship Mode,Profit,Quantity,Sales
0,CA-2020-152156,11/8/2020,South,Consumer,Furniture,Bookcases,Bush Somerset Collection Bookcase,11/11/2020,Second Class,41.9136,2,261.9600
1,CA-2020-152156,11/8/2020,South,Consumer,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",11/11/2020,Second Class,219.5820,3,731.9400
2,CA-2020-138688,6/12/2020,West,Corporate,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,6/16/2020,Second Class,6.8714,2,14.6200
3,US-2019-108966,10/11/2019,South,Consumer,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,10/18/2019,Standard Class,-383.0310,5,957.5775
4,US-2019-108966,10/11/2019,South,Consumer,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,10/18/2019,Standard Class,2.5164,2,22.3680

In [5]:
df.groupby(["Segment","Region"])["Profit","Sales"].sum()

<ipython-input-5-9681eb33e745>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(["Segment","Region"])["Profit","Sales"].sum()

                         Profit        Sales
Segment     Region
Consumer    Central   8564.0481  252031.4340
            East     41190.9843  350908.1670
            South    26913.5728  195580.9710
            West     57450.6040  362880.7730
Corporate   Central  18703.9020  157995.8128
            East     23622.5789  200409.3470
            South    15215.2232  121885.9325
            West     34437.4299  225855.2745
Home Office Central  12438.4124   91212.6440
            East     26709.2168  127463.7260
            South     4620.6343   74255.0015
            West     16530.4150  136721.7770

In [6]:
dff = df.groupby("Product Name",as_index=False)[["Profit","Sales"]].agg(["sum","mean","max","min"])

In [7]:
dff.head()

                                                      Profit             \
                                                         sum       mean
Product Name
"While you Were Out" Message Book, One Form per...   10.3880   3.462667
#10 Gummed Flap White Envelopes, 100/Box             16.7678   4.191950
#10 Self-Seal White Envelopes                        52.1230  13.030750
#10 White Business Envelopes,4 1/8 x 9 1/2          223.1408  31.877257
#10- 4 1/8" x 9 1/2" Recycled Envelopes             115.2806  11.528060

                                                                       Sales  \
                                                        max     min      sum
Product Name
"While you Were Out" Message Book, One Form per...   3.7100  3.3390   25.228
#10 Gummed Flap White Envelopes, 100/Box             7.5992  2.1476   41.300
#10 Self-Seal White Envelopes                       32.6046  3.2161  108.682
#10 White Business Envelopes,4 1/8 x 9 1/2          58.9192  4.2309  488.904
#10- 4 1/8" x 9 1/2" Recycled Envelopes             20.5390  4.7196  286.672


                                                         mean      max     min
Product Name
"While you Were Out" Message Book, One Form per...   8.409333    8.904   7.420
#10 Gummed Flap White Envelopes, 100/Box            10.325000   16.520   6.608
#10 Self-Seal White Envelopes                       27.170500   66.540   8.872
#10 White Business Envelopes,4 1/8 x 9 1/2          69.843429  125.360  12.536
#10- 4 1/8" x 9 1/2" Recycled Envelopes             28.667200   55.936  13.984